@use '../styles/variables.scss' as var;

.btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;

  padding: 1em 1.5em;
  font-size: 1em;

  @include var.smallmobile {
  }
}

.btn:hover {
  transform: translateY(-3px);
}

.btn--primary {
  background-color: var.$primary;
  color: var.$white;
  border: none;
}

.btn--warning {
  background-color: var.$warning;
  color: var.$dark;
  border: none;
}

.btn--danger {
  background-color: var.$danger;
  color: var.$white;
  border: none;
}

.btn--success {
  background-color: var.$success;
  color: var.$dark;
  border: none;
}

.btn--dark {
  background-color: var.$dark;
  color: var.$white;
  border: none;
}

.btn--primary--outline {
  background-color: transparent;
  border-color: var.$primary;
}
.btn--warning--outline {
  background-color: transparent;
  border-color: var.$primary;
}

.btn--danger--outline {
  background-color: transparent;
  border-color: var.$danger;
}

.btn--success--outline {
  background-color: transparent;
  border-color: var.$success;
}
