@use '../styles/variables.scss' as var;

.cell {
  width: 2em;
  height: 2em;
  font-size: var.$XlFont;
  text-align: center;
  border: 1px solid var.$dark;
}

.cell-invalid {
  background-color: var.$danger;
}

.cell-valid {
  background-color: var.$success;
}

.cell-hinted {
  color: var.$orange;
  animation-name: hintAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

@keyframes hintAnimation {
  from {
    background-color: var.$orange;
  }
  to {
    background-color: initial;
  }
}
