@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 4rem;
}



.playBtn {
  font-weight: bold;
  border: none;
  border-radius: 1.5em;
  font-size: 1em;
  padding: 1em 1.5em;
  cursor: pointer;
  background-color: #ffffff;
  color: black;
  width: 15rem;
}


table {
  font-size: 1.2em;
  border: 5px solid black;
  border-collapse: collapse;
  background-color: rgb(182, 182, 182);
  margin: 0 auto;

}

td {
  width: 30px;
  height: 30px;
  text-align: center;
  user-select: none;
  font-weight : bold;
}

.right-border {
  border-right: 5px solid rgb(0, 0, 0);
}

.bottom-border {
  border-bottom: 5px solid black;
}


.cell {
  width: 2em;
  height: 2em;
  font-size: 1.5em;
  text-align: center;
}



.sudoku-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
}

.cell-initial{
  background-color: grey;
  color: #ffffff;
}

.cell-hinted{
  color: orange;
  animation-name: hintAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

.cell-invalid {
  background-color: red;

}

.cell-valid {
  background-color: greenyellow;
}

.empty {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 32px;
  outline: none;
  border: 2px solid #ffffff;
  margin-left: -1px;
  margin-top: -1px;
}

.taken {
  background-color: #5574db;
  color: black;
}

.initial {
  margin-left: -1px;
  margin-top: -1px;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 32px;
  outline: none;
  background-color: rgb(128, 122, 122);
  border: 2px solid black;
}

.board-wrapper {
  display: grid;
  grid-template-columns: repeat(9, 0fr);
  padding: 1em;
}

.sudoku-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.difficulty-selectWrapper{
  display: flex;
  gap: 3em;
}


.sudoku-buttonsContainer {
  display: flex;
  justify-content: center;
  gap: 4em;
}

.btn {
  font-weight: bold;
  border: none;
  border-radius: 1.5em;
  font-size: 1em;
  padding: 1em 1.5em;
  cursor: pointer;
}

.beginnerBtn {
  background-color: greenyellow;
}

.intermediateBtn {
  background-color: rgb(250, 144, 6);
}


.masterBtn {
  background-color: black;
  color: #ffffff;
}

.checkBtn {
  background-color: yellow;
}

.solveBtn {
  background-color: green;
}

.resetBtn {
  background-color: red;
}

@keyframes hintAnimation {
  from {background-color: orange;}
  to {background-color: initial;}
}